[submodule "milk-plus"]
	path = milk-plus
	url = https://github.com/TropheusJ/Milk-Plus
[submodule "dripstone-fluid-lib"]
	path = dripstone-fluid-lib
	url = https://github.com/TropheusJ/dripstone-fluid-lib
[submodule "milk-lib"]
	path = milk-lib
	url = https://github.com/TropheusJ/milk-lib
[submodule "fabric-example-mod"]
	path = fabric-example-mod
	url = https://github.com/TropheusJ/fabric-example-mod
[submodule "quilt-template-mod"]
	path = quilt-template-mod
	url = https://github.com/TropheusJ/quilt-template-mod
[submodule "ender-christmas"]
	path = ender-christmas
	url = https://github.com/TropheusJ/Ender-Christmas
[submodule "bing-bing-wahoo"]
	path = bing-bing-wahoo
	url = https://github.com/Ignoramuses/bing-bing-wahoo
[submodule "succ"]
	path = succ
	url = https://github.com/devOS-Sanity-Edition/succ
